body { background: #ea826; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 24px; display: flex; }
.block-cart-0 { color: #f27500; font-size: 18px; margin-bottom: 5px; }
.block-helper-1 { color: #e02b7c; font-size: 20px; margin-bottom: 5px; }
.block-cart-2 { color: #149c41; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #e79df6; font-size: 16px; margin-bottom: 5px; }
.block-session-4 { color: #c87835; font-size: 12px; margin-bottom: 5px; }